.herobanner {
  background-image: url("../assets/tennis-unsplash.jpg");
  width: 100vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weather {
  display: flex;
  flex-wrap: wrap;
}

.weather > * {
  flex-basis: 120px;
}

.weather img {
  width: 55%;
  height: auto;
}

.weather .image {
  text-align: center;
  flex-basis: 170px;
}
.weather span {
  display: inline-block;
}
.weather svg {
  vertical-align: bottom;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  max-width: 20px;
  max-height: 20px;
  margin-right: 6px;
}

.herobanner .weather_today_container {
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  max-width: 1200px;
}

.today {
  width: 240px;
  color: white;
  font-weight: 800;
}

.today .image {
  text-align: left;
}

.today img {
  width: 6vw;
}

.weather_board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  border-radius: 20px;
  box-shadow: 4px 4px 20px grey;
  height: 30vh;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 24%;
  max-width: 1200px;
}

.weather_board > * {
  flex-basis: calc(100% / 7);
  font-size: smaller;
  border-right: 0.5px dashed grey;
}

.weather_board :last-child {
  border-right: none;
}

.weather_board .weather.week .location {
  display: none;
}
